HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
/logs*

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

.vscode/
/**/application-local.yml
/**/application-preview.yml
/aty/
/ballcat-job/logs/ballcat-job/
.flattened-pom.xml
gener-logs/

/workspace/logs/
*logs/
/april-varbook-backend/src/main/resources/public/assets/index-Bf2Hp6Dz.css
/april-varbook-backend/src/main/resources/public/assets/index-BSI2q_eI.js
/april-varbook-backend/src/main/resources/public/index.html
/april-varbook-backend/src/main/resources/application-pro.yml
/april-varbook-backend/src/main/resources/application-test.yml
/april-varbook-frontend/dist/assets/index-Bf2Hp6Dz.css
/april-varbook-frontend/dist/assets/index-BSI2q_eI.js
/april-varbook-frontend/dist/index.html
/april-varbook-frontend/node/node.exe
/april-varbook-frontend/node/pnpm.cmd
/april-varbook-frontend/pnpm-lock.yaml
/april-varbook-backend/src/main/resources/public/assets/index-CBRxR4Fc.js
/april-varbook-backend/src/main/resources/public/assets/index-CSWzSCxg.css
/april-varbook-frontend/dist/assets/index-CBRxR4Fc.js
/april-varbook-frontend/dist/assets/index-CSWzSCxg.css
